.navbar-default,
.feature-content a {
	  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a,
.navbar a,
.form-control,
.navbar-active,
.bg-shadow-hover,
.purple-bg-hover,
.white-text-hover,
.email-subscribe-form .mc-field-group .button{
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.opacity-hover,
.speaker-link a,
.bg-shadow-hover-2,
.sub-menue{
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-os-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

figcaption.speaker-hover{
	  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}