<!-- Preloader Start -->
 <!-- Preloader End -->

<!-- Navigation Menu Starts -->


<!-- Header Start -->
<header id="header" class="bg-img-6">
  <head-comp></head-comp>

    <div class="overlay-light-85 padding-top-220">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="header-info mt-10">
                        <div class="countdown-wrapper">

                            <ul id="countdown" class="mb-150">
                                <li class="display-inline-block margin-lr-30">
                                    <span class="days white-text font-60 text-extrabold font-roboto" count-up end-val="41">41</span>
                                    <p class="text-semibold purple-text text-uppercase">judete</p>
                                </li>

                                <li class="display-inline-block margin-lr-30">
                                    <span class="hours white-text font-60 text-extrabold font-roboto" count-up end-val="256">265</span>
                                    <p class="text-semibold purple-text text-uppercase">orase</p>
                                </li>

                                <li class="display-inline-block margin-lr-30">
                                    <span class="minutes white-text font-60 text-extrabold font-roboto" count-up end-val="13832">13.832</span>
                                    <p class="text-semibold purple-text text-uppercase">localitati</p>
                                </li>

                                <li class="display-inline-block margin-lr-30">
                                    <span class="seconds white-text font-60 text-extrabold font-roboto" count-up end-val="640993224">999.999.999</span>
                                    <p class="text-semibold purple-text text-uppercase">lei buget total</p>
                                </li>
                            </ul><!-- /countdown -->
                            <h1 class="main-heading font-35 white-text text-extrabold">Bugetul primariei locale. Simplificat.</h1>
                        </div> <!-- countdown-wrapper -->
                    </div> <!--  -->
                </div> <!-- header-info -->
                <div class="col-md-6 col-md-offset-3 mt-20">
                    <a href="" target="_blank" class="font-14 height-60 padding-all-1630 pink-bg white-text text-center"><i class="fa  fa-cart-arrow-down mr-10"></i>VEZI BUGETUL PENTRU ORASUL TAU</a>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- padding -->
</header><!-- Header End -->

<section id="cta" class="white-bg">
    <div class="container">
        <div class="section-title text-center mt-100 mb-100">
            <h1 class="dark-purple-text font-40 text-semibold text-uppercase">Bugetul pentru anul acesta a fost propus!</h1>
            <p class="padding-lf-24 font-20">Te invitam sa vezi propunerile de cheltuieli si lucram impreuna la definitivarea bugetului pentru urmatorul an.</p>
        </div> <!-- section-title -->

        <div class="row text-center mb-50">
            <div class="col-md-2 col-md-offset-1">
                <img src="assets/images/analytics-9.png" class="width-100 mb-10">
                <h4 class="m-0-a">Cheltuieli curente</h4>
            </div>
            <div class="col-md-2">
               <img src="assets/images/analytics-13.png " class="width-100 mb-10">
                <h4 class="m-0-a">Cheltuieli de capital</h4>
            </div>
            <div class="col-md-2">
                <img src="assets/images/analytics-14.png" class="width-100 mb-10">
                <h4 class=" m-0-a">Operatiuni financiare</h4>
                
            </div>
            <div class="col-md-2">
                <img src="assets/images/analytics-15.png" class="width-100 mb-10">
                <h4 class="m-0-a">Plati efectuate si recuperate</h4>
               
            </div>
            <div class="col-md-2">
                <img src="assets/images/analytics-12.png" class="width-100 mb-10">
                <h4 class="m-0-a">Rezerve</h4>
               
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 mt-20">
                <a  ng-href="#/new-budget" class="font-14 height-60 padding-all-1630 orange-bg white-text text-center"><i class="fa  fa-cart-arrow-down mr-10"></i>INCEPE SA VOTEZI</a>
            </div>
        </div>
    </div>
</section>




<!-- What Have Start -->
<section id="service" class="white-bg">
    <div class="section-padding">
        <div class="container">
            <div class="section-title">
                <h1 class="dark-purple-text font-40 text-semibold text-uppercase text-center">Ce iti oferim</h1>
                <p class="font-20 ">
                    <span class="font-30 dark-blue-text">1.</span> Ne dorim sa imbunatatim considerabil transparenta si accesibilitatea cetatenilor la modul in care se aloca bugetele locale si sa dam posibilitatea implicarii cetatenilor in procesul de stabilire al acestora.
                </p>
                <p class="font-20">
                    <span class="font-30 dark-blue-text">2.</span> Ne propunem ca prin aceasta platforma sa eliminam comentarii de genul:<br>
                    <i class="light-blue-text">"Nici un economist nu ar înţelege bugetul Primăriei Capitalei." - Nicusor Dan</i>
                    <br><b><u>Definitiv</u></b>
                </p>
                <p class="font-20">
                    <span class="font-30 dark-blue-text">3.</span> Te ajutam sa intelegi modul in care sunt alocati banii colectati din taxe si impozite, te invitam sa te implici in procesul de analiza si rectificare bugetara ce are loc la inceputul fiecarui an si te mentinem
                    informat pe parcursul intregului an de demersurile realizate si de modul in care sunt cheltuite bugetele.
                </p>
            </div> <!-- section-title -->

            <div class="row content-area-2">
                <div class="col-md-3 text-center">
                    <img src="assets/images/question.png" class="img-responsive m-0-a">
                    <h4 class="mt-20 font-25 dark-purple-text">Informatii</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img src="assets/images/tactics.png" class="img-responsive m-0-a">
                    <h4 class="mt-20 font-25 dark-purple-text">Planificare</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img src="assets/images/light-bulb.png" class="img-responsive m-0-a">
                    <h4 class="mt-20 font-25 dark-purple-text">Decizii</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img src="assets/images/puzzle.png" class="img-responsive m-0-a">
                    <h4 class="mt-20 font-25 dark-purple-text">Solutii</h4>
                </div>
            </div>
        </div> <!--  -->
    </div> <!--  -->
</section> <!-- What Have End -->

<section id="subscribe">
    <div class="section-padding white-bg bg-img-1">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="dark-purple-text font-40 text-semibold text-uppercase">Aboneaza-te la newsletter-ul nostru</h1>
                <p class="padding-lf-24">Putem sa te notificam pe email cand avem informatii importante in legatura cu bugetul care te intereseaza.</p>
            </div> <!--  -->

            <div class="row content-area">
                <div class="col-md-8 col-md-offset-2">
                    <div class="subscribe-form">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <button type="submit" class="btn btn-default pink-bg white-text">ABONEAZA-TE</button>
                            </div> <!-- mc_embed_signup -->
                        </div> <!-- email-subscribe-form -->
                    </div> <!-- subscribe-form -->
                </div> <!-- col-md-8 -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- section padding -->
</section> <!-- subscribe -->


<section id="google-map">
    <div class="container-fluid no-padding no-margin">

    </div> <!-- conatiner-fluid -->
</section>
