<!-- Preloader Start -->
 <!-- Preloader End -->

<!-- Navigation Menu Starts -->


<!-- Header Start -->
<header id="header" class="bg-img-6">
  <nav class="navbar navbar-default navbar-fixed-top" style="min-height: 80px;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed mt-25 no-border" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar red-bg"></span>
          <span class="icon-bar red-bg"></span>
          <span class="icon-bar red-bg"></span>
        </button>
        <a class="navbar-brand" href="http://drawbootstrap.com/demo-premium-theme/eventplus/index.html"><img src="assets/images/logo.png" alt="Company Logo" title="Logo"></a>
      </div> <!-- navbar header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse no-border" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/#header">Acasa</a></li>
          <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/speakers.html">Bugete locale</a></li>
          <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/schedule.html">Vizualizari</a></li>
          <li class="page-link"><a class="no-line-b" href="http://drawbootstrap.com/demo-premium-theme/eventplus/">Unelte<i class="fa fa-angle-down ml-5 font-18"></i></a>
              <ul class="sub-menue">
                  <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/blog.html">Contesta buget</a></li>
                  <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/blog-single.html">Propune buget</a></li>
              </ul>
          </li>
          <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/organizer.html">Bugetul cetateanului</a></li>
          <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/sponsor.html">Blog</a></li>
          <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/venue.html">Contact</a></li>
        </ul>
      </div>  <!-- /.navbar-collapse -->
    </div>  <!-- /.container -->
  </nav> <!-- Navigation Menu Ends -->

    <div class="overlay-light-85 padding-top-220">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="header-info mt-10">
                        <div class="countdown-wrapper">

                            <ul id="countdown" class="mb-150">
                                <li class="display-inline-block margin-lr-30">
                                    <span class="days white-text font-60 text-extrabold font-roboto">41</span>
                                    <p class="text-semibold purple-text text-uppercase">judete</p>
                                </li>

                                <li class="display-inline-block margin-lr-30">
                                    <span class="hours white-text font-60 text-extrabold font-roboto">265</span>
                                    <p class="text-semibold purple-text text-uppercase">orase</p>
                                </li>

                                <li class="display-inline-block margin-lr-30">
                                    <span class="minutes white-text font-60 text-extrabold font-roboto">13.832</span>
                                    <p class="text-semibold purple-text text-uppercase">localitati</p>
                                </li>

                                <li class="display-inline-block margin-lr-30">
                                    <span class="seconds white-text font-60 text-extrabold font-roboto">999.999.999</span>
                                    <p class="text-semibold purple-text text-uppercase">lei buget total</p>
                                </li>
                            </ul><!-- /countdown -->
                            <h1 class="main-heading font-35 white-text text-extrabold">Vezi cum cheltuieste statul banii tai</h1>
                            <h3 class="font-30 white-text">Salariat, PFA sau angajator? Oricum dai bani la stat.</h3>
                        </div> <!-- countdown-wrapper -->
                    </div> <!--  -->
                </div> <!-- header-info -->
                <div class="col-md-6 col-md-offset-3 mt-20">
                    <a href="" target="_blank" class="font-14 height-60 padding-all-1630 pink-bg white-text text-center"><i class="fa  fa-cart-arrow-down mr-10"></i>VEZI BUGETUL PENTRU ORASUL TAU</a>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- padding -->
</header><!-- Header End -->

<section id="cta" class="white-bg">
    <div class="container">
        <div class="section-title text-center mt-100 mb-100">
            <h1 class="dark-purple-text font-40 text-semibold text-uppercase">S-a dat drumul la voturi !</h1>
            <p class="padding-lf-24 font-20">Vezi categoriile de cheltuieli si incepe sa votezi unde se duc banii tai</p>
        </div> <!-- section-title -->

        <div class="row text-center mb-50">
            <div class="col-md-2 col-md-offset-1">
                <a href=""><div class="square-elem mild-red-bg vertical-align grow">
                    <h4 class="white-text m-0-a">Cheltuieli curente</h4>
                </div></a>
            </div>
            <div class="col-md-2">
                <a href=""><div class="square-elem mild-yellow-bg vertical-align grow">
                    <h4 class="white-text m-0-a">Cheltuieli de capital</h4>
                </div></a>
            </div>
            <div class="col-md-2">
                <a href=""><div class="square-elem mild-turqoise-bg vertical-align grow">
                    <h4 class="white-text m-0-a">Operatiuni financiare</h4>
                </div></a>
            </div>
            <div class="col-md-2">
                <a href=""><div class="square-elem mild-blue-bg vertical-align grow">
                    <h4 class="white-text m-0-a">Plati efectuate si recuperate</h4>
                </div></a>
            </div>
            <div class="col-md-2">
                <a href=""><div class="square-elem mild-dark-blue-bg vertical-align grow">
                    <h4 class="white-text m-0-a">Rezerve</h4>
                </div></a>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 mt-20">
                <a href="" target="_blank" class="font-14 height-60 padding-all-1630 orange-bg white-text text-center"><i class="fa  fa-cart-arrow-down mr-10"></i>INCEPE SA VOTEZI</a>
            </div>
        </div>
    </div>
</section>




<!-- What Have Start -->
<section id="service" class="white-bg">
    <div class="section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="dark-purple-text font-40 text-semibold text-uppercase">Ce iti putem oferi</h1>
                <p class="padding-lf-24 font-20">Putem sa-ti aratam cum sunt cheltuiti banii pe care vrei sau nu vrei, ii dai la stat.</p>
            </div> <!-- section-title -->

            <div class="row content-area-2">
                <div class="col-md-3 text-center">
                    <img src="assets/images/question.png" class="img-responsive m-0-a">
                    <h4 class="mt-20 font-25 dark-purple-text">Informatii</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img src="assets/images/tactics.png" class="img-responsive m-0-a">
                    <h4 class="mt-20 font-25 dark-purple-text">Planificare</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img src="assets/images/light-bulb.png" class="img-responsive m-0-a">
                    <h4 class="mt-20 font-25 dark-purple-text">Decizii</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img src="assets/images/puzzle.png" class="img-responsive m-0-a">
                    <h4 class="mt-20 font-25 dark-purple-text">Solutii</h4>
                </div>
            </div>
        </div> <!--  -->
    </div> <!--  -->
</section> <!-- What Have End -->

<section id="subscribe">
    <div class="section-padding white-bg bg-img-1">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="dark-gray-text text-semibold text-uppercase">Aboneaza-te la newsletter-ul nostru</h1>
                <p class="padding-lf-24">Putem sa te notificam pe email cand avem informatii importante in legatura cu bugetul care te intereseaza.</p>
            </div> <!--  -->

            <div class="row content-area">
                <div class="col-md-8 col-md-offset-2">
                    <div class="subscribe-form">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <button type="submit" class="btn btn-default pink-bg white-text">ABONEAZA-TE</button>
                            </div> <!-- mc_embed_signup -->
                        </div> <!-- email-subscribe-form -->
                    </div> <!-- subscribe-form -->
                </div> <!-- col-md-8 -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- section padding -->
</section> <!-- subscribe -->


<section id="google-map">
    <div class="container-fluid no-padding no-margin">

    </div> <!-- conatiner-fluid -->
</section>
