<head-comp></head-comp>

<!-- code here -->
<div class="container">

    <!-- What Have Start -->
    <section id="service" class="white-bg">
        <div class="section-padding">
            <div class="container">
                <div class="section-title text-center">
                    <h1 class="dark-purple-text font-40 text-semibold text-uppercase">Felicitari pentru inca un an organizat!</h1>
                </div> <!-- section-title -->

                <div class="row content-area-2">
                    <div class="col-md-3 text-center">
                        <img src="assets/images/pmb.gif" class="img-responsive m-0-a primarie-icon">
                        <h4 class="mt-20 font-25 dark-purple-text">PMB</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="assets/images/team.png" class="img-responsive m-0-a">
                        <h4 class="mt-20 font-25 dark-purple-text">Comunitate</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="assets/images/light-bulb.png" class="img-responsive m-0-a">
                        <h4 class="mt-20 font-25 dark-purple-text">Decizii</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="assets/images/like.png" class="img-responsive m-0-a">
                        <h4 class="mt-20 font-25 dark-purple-text">Rezultate</h4>
                    </div>
                </div>

                <br><br><br>


                <div class="row">
                    <h2 class="dark-purple-text text-center">Iata rezultatul colaborarii noastre pentru anul <strong class="dark-purple-text">2015</strong></h2>

                    <ul class="text-center">
                        <li>
                            <img src="assets/images/park.png" class="img-responsive m-0-a">
                            <h4>Am reabilitat 7 parcuri in <strong class="dark-purple-text">Colentina, Tineretului, Timpuri noi, Drumul taberei, Rahova</strong></h4>
                        </li>
                        <li>
                            <img src="assets/images/hospital.png" class="img-responsive m-0-a">
                            <h4>Am modernizat <strong class="dark-purple-text">Spitalul Clinic de Urgenta de Chirurgie Plastica, Reparatorie si Arsuri</strong></h4>
                        </li>
                        <li>
                            <img src="assets/images/road.png" class="img-responsive m-0-a">
                            <h4>Am reparat 34 de kilometri de strada</h4>
                        </li>
                        <li>
                            <img src="assets/images/school.png" class="img-responsive m-0-a">
                            <h4>Am modernizat <strong class="dark-purple-text">16 scoli si licee</strong> cu mobilier, tehnica de calcul si material didactic.</h4>
                        </li>
                        <li>
                            <img src="assets/images/event.png" class="img-responsive m-0-a">
                            <h4>Evenimente - am dansat, am cantat si ne-am bucurat impreuna alaturi de trupe internationale precum <strong class="dark-purple-text">Metallica, U2, George Michael, Madonna si multi altii.</strong></h4>
                        </li>
                        <li>
                            <img src="assets/images/security.png" class="img-responsive m-0-a">
                            <h4>Am sporit securitatea oferita cetatenilor prin instalarea a <strong class="dark-purple-text">344 de camere de supraveghere ce acopera orasul in proportie de 84%</strong>.</h4>
                        </li>
                        <li>
                            <img src="assets/images/prize.png" class="img-responsive m-0-a">
                            <h2>Impreuna am castigat titlul de cel mai modern oras al Europei</h2>
                        </li>
                    </ul>

                </div>
            </div> <!--  -->
        </div> <!--  -->
    </section> <!-- What Have End -->
</div>

