<nav class="navbar navbar-default navbar-fixed-top" style="min-height: 80px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed mt-25 no-border" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar red-bg"></span>
        <span class="icon-bar red-bg"></span>
        <span class="icon-bar red-bg"></span>
      </button>
      <a class="navbar-brand" href="http://drawbootstrap.com/demo-premium-theme/eventplus/index.html"><img src="assets/images/logo.png" alt="Company Logo" title="Logo"></a>
    </div> <!-- navbar header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse no-border" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/#header">Acasa</a></li>
        <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/speakers.html">Bugete locale</a></li>
        <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/schedule.html">Vizualizari</a></li>
        <li class="page-link"><a class="no-line-b" href="http://drawbootstrap.com/demo-premium-theme/eventplus/">Unelte<i class="fa fa-angle-down ml-5 font-18"></i></a>
            <ul class="sub-menue">
                <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/blog.html">Contesta buget</a></li>
                <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/blog-single.html">Propune buget</a></li>
            </ul>
        </li>
        <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/organizer.html">Bugetul cetateanului</a></li>
        <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/sponsor.html">Blog</a></li>
        <li><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/venue.html">Contact</a></li>
      </ul>
    </div>  <!-- /.navbar-collapse -->
  </div>  <!-- /.container -->
</nav> <!-- Navigation Menu Ends -->

  <div class="section-title text-center">
      <h1 class="dark-purple-text font-40 text-semibold text-uppercase">Bugetul pentru 2017 a fost propus!</h1>
      <p class="padding-lf-24 font-20">Ai la dispozitie 14 zile - 12 ore - 30 minute - 15 secunde sa il inalizezi si sa te implici</p>
      <p class="padding-lf-24 font-20">Vezi beneficiile obtinute in <a href="#/last-year">2016</a></p>
  </div> <!-- section-title -->


  <div class="container">
    <div class="col-lg-12">
     <div class="col-lg-6">
       <h4 class="mt-20 font-25 dark-purple-text col-lg-6">Cheltuieli</h4>
       <h4 class="mt-20 font-25 dark-purple-text col-lg-6">33 000 euro</h4>
       <h4 class="mt-20 font-25 dark-purple-text col-lg-12">Propunere de modificare</h4>
       <div class="col-lg-12">
          <div class="col-lg-12 form-input">
            <label>Nume:</label>
            <input type="text" class="col-lg-12">
          </div>
          <div class="col-lg-12 form-input">
            <label>Propunere:</label>
            <textarea rows="5" cols="56" class="col-lg-12"></textarea>
          </div>
       </div>
       <div class="col-lg-12">
         <div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right">45 propuneri</small> Propuneri pe aceeasi tema </h1>
                  </div>
                   <div class="comments-list">
                       <div class="media">
                           <p class="pull-right"><small>5 zile in urma</small></p>
                            <a class="media-left" href="#">
                              <img src="http://lorempixel.com/40/40/people/1/">
                            </a>
                            <div class="media-body">

                              <h4 class="media-heading user_name">Baltej Singh</h4>
                              Wow! this is really great.

                              <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                            </div>
                          </div>
                       <div class="media">
                           <p class="pull-right"><small>5 zile in urma</small></p>
                            <a class="media-left" href="#">
                              <img src="http://lorempixel.com/40/40/people/2/">
                            </a>
                            <div class="media-body">

                              <h4 class="media-heading user_name">Baltej Singh</h4>
                              Wow! this is really great.

                              <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                            </div>
                          </div>
                       <div class="media">
                           <p class="pull-right"><small>6 zile in urma</small></p>
                            <a class="media-left" href="#">
                              <img src="http://lorempixel.com/40/40/people/3/">
                            </a>
                            <div class="media-body">

                              <h4 class="media-heading user_name">Baltej Singh</h4>
                              Wow! this is really great.

                              <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                            </div>
                          </div>
                       <div class="media">
                           <p class="pull-right"><small>6 zile in urm</small></p>
                            <a class="media-left" href="#">
                              <img src="http://lorempixel.com/40/40/people/4/">
                            </a>
                            <div class="media-body">

                              <h4 class="media-heading user_name">Baltej Singh</h4>
                              Wow! this is really great.

                              <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                            </div>
                          </div>
                   </div>



                </div>
            </div>
        </div>
       </div>
     </div>
     <div class="col-lg-6"></div>
   </div>
  </div>
