<head-comp></head-comp>

<div class="content">

    <div class="project-update">
        <h3>Project name</h3>
        <span>Spending category - Cheltuieli</span>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus dolorem illum impedit maxime quasi quod, recusandae rem sequi voluptatum. Atque aut dignissimos dolorum harum nobis pariatur, praesentium qui tenetur.
        </div>
        <div class="data">24 Martie 2016</div>
        <div class="author">
            <span>Elena Frunzescu - Manager proiect PMB</span>
        </div>
    </div>
    <div class="project-update">
        <h3>Project name</h3>
        <span>Spending category - Cheltuieli</span>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus dolorem illum impedit maxime quasi quod, recusandae rem sequi voluptatum. Atque aut dignissimos dolorum harum nobis pariatur, praesentium qui tenetur.
        </div>
        <div class="data">24 Martie 2016</div>
        <div class="author">
            <span>Elena Frunzescu - Manager proiect PMB</span>
        </div>
    </div>
    <div class="project-update">
        <h3>Project name</h3>
        <span>Spending category - Cheltuieli</span>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus dolorem illum impedit maxime quasi quod, recusandae rem sequi voluptatum. Atque aut dignissimos dolorum harum nobis pariatur, praesentium qui tenetur.
        </div>
        <div class="data">24 Martie 2016</div>
        <div class="author">
            <span>Elena Frunzescu - Manager proiect PMB</span>
        </div>
    </div>
    <div class="project-update">
        <h3>Project name</h3>
        <span>Spending category - Cheltuieli</span>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus dolorem illum impedit maxime quasi quod, recusandae rem sequi voluptatum. Atque aut dignissimos dolorum harum nobis pariatur, praesentium qui tenetur.
        </div>
        <div class="data">24 Martie 2016</div>
        <div class="author">
            <span>Elena Frunzescu - Manager proiect PMB</span>
        </div>
    </div>

</div>