<head-comp></head-comp>

<div class="container">
     <div class="section-title text-center">
        <h1 class="dark-purple-text font-40 text-semibold text-uppercase mt-50">Fii la curent cu evolutia proiectelor pentru care ai dat bani</h1>
    </div> <!-- section-title -->

    <div class="project-update">
        <h3>Project name</h3>
        <span>Spending category - Cheltuieli</span>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus dolorem illum impedit maxime quasi quod, recusandae rem sequi voluptatum. Atque aut dignissimos dolorum harum nobis pariatur, praesentium qui tenetur.
        </div>
        <div class="data">24 Martie 2016</div>
        <div class="author">
            <span>Elena Frunzescu - Manager proiect PMB</span>
        </div>
    </div>
    <div class="project-update">
        <h3>Project name</h3>
        <span>Spending category - Cheltuieli</span>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus dolorem illum impedit maxime quasi quod, recusandae rem sequi voluptatum. Atque aut dignissimos dolorum harum nobis pariatur, praesentium qui tenetur.
        </div>
        <div class="data">24 Martie 2016</div>
        <div class="author">
            <span>Elena Frunzescu - Manager proiect PMB</span>
        </div>
    </div>
    <div class="project-update">
        <h3>Project name</h3>
        <span>Spending category - Cheltuieli</span>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus dolorem illum impedit maxime quasi quod, recusandae rem sequi voluptatum. Atque aut dignissimos dolorum harum nobis pariatur, praesentium qui tenetur.
        </div>
        <div class="data">24 Martie 2016</div>
        <div class="author">
            <span>Elena Frunzescu - Manager proiect PMB</span>
        </div>
    </div>
    <div class="project-update">
        <h3>Project name</h3>
        <span>Spending category - Cheltuieli</span>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus dolorem illum impedit maxime quasi quod, recusandae rem sequi voluptatum. Atque aut dignissimos dolorum harum nobis pariatur, praesentium qui tenetur.
        </div>
        <div class="data">24 Martie 2016</div>
        <div class="author">
            <span>Elena Frunzescu - Manager proiect PMB</span>
        </div>
    </div>

</div>