<div id="wrapper">

    <div id="page-wrapper" ng-controller="ShowAccountsController as showAccounts">

    	<div class="search">
    		<div class="filter">
		 		<label for="name">Name:</label> 	
		 		<input type="text" ng-model="search.name" class="form-control">
		 	</div>
	 	</div> 

	 	<div id="page_content_inner"> 
        	<div class="md-card-list-wrapper" id="mailbox">
            	<div class="uk-width-large-8-10 uk-container-center">
                	<div class="md-card-list">
                    	<div class="md-card-list-header heading_list">Accounts list ({{ getAllAccounts().length }} accounts)</div>
                    	<ul>
                        	<li ng-repeat="account in getAllAccounts() | filter:search" class="background-gray">
                        		<a ng-href="#">
	                            	<span class="md-card-list-item-date"> {{ account.email }} </span>
		                            <div class="md-card-list-item-avatar-wrapper">
		                                <span class="md-card-list-item-avatar md-bg-light-green"> {{ account.nr }} </span>
		                            </div>
		                            <div class="md-card-list-item-sender">
		                                <span> {{ account.name }} </span>
		                            </div>
		                            <div class="md-card-list-item-subject">
		                                <div class="md-card-list-item-sender-small">
		                                    <span> {{ account.accountType }} </span>
		                                </div>
		                                <span> {{ account.accountType }} </span>
		                            </div>
		                        </a>
                        	</li>
                    	</ul>
                	</div>
            	</div>
        	</div>
     	</div>  
    </div>
</div>
