<footer id="footer" class="dark-purple-bg">
    <div class="padding-top-80 padding-bottom-110 position-relative">
        <div class="container">
            <div class="row mb-0">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-30">
                    <div class="support-widget white-text">
                        <h3 class="white-text mb-30 font-22 line-height-34">Budget Busters Support</h3>
                        <p>Pentru intrebari si alte informatii va rugam sa ne contactati: <span class="font-22 text-bold"><i class="fa fa-phone font-30 mr-20"></i>880-123-456-7890</span> | <span class="ml-40">support@ebudgetbusters.com</span> </p>

                    </div> <!-- support-widget -->
                </div> <!-- col-md-3 -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- Section padding -->

    <div class="footer-copyright dark-purple-bg padding-top-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12 no-border">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a href="">Acasa</a></li>
                      <li><a href="">Bugete locale</a></li>
                      <li><a href="">Vizualizari</a></li>
                      <li class="page-link"><a class="no-line-b" href="">Unelte<i class="fa fa-angle-down ml-5 font-18"></i></a>
                          <ul class="sub-menue">
                              <li><a href="">Contesta buget</a></li>
                              <li><a href="">Propune buget</a></li>
                          </ul>
                      </li>
                      <li><a href="">Bugetul cetateanului</a></li>
                      <li><a href="">Blog</a></li>
                      <li><a href="">Contact</a></li>
                    </ul>
                  </div>  

                <div class="col-xs-12 col-sm-7 col-md-7">
                    <p class="white-text mt-10">Copyright © 2016. Toate drepturile rezervate de <a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text text-hover">BUDGET BUSTERS</a>. Dezvoltat de <a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text text-hover">JSHacks</a></p>
                </div> <!-- col-md-7 -->


                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="footer-social">
                        <ul class="float-right mt-10">
                            <li class="display-inline-block padding-lf-10"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text black-text-hover"><i class="fa fa-facebook"></i></a></li>

                            <li class="display-inline-block padding-lf-10"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text black-text-hover"><i class="fa fa-twitter"></i></a></li>

                            <li class="display-inline-block padding-lf-10"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text black-text-hover"><i class="fa fa-linkedin"></i></a></li>

                            <li class="display-inline-block padding-lf-10"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text black-text-hover"><i class="fa fa-google-plus"></i></a></li>

                            <li class="display-inline-block padding-lf-10"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text black-text-hover"><i class="fa fa-pinterest"></i></a></li>

                            <li class="display-inline-block padding-lf-10"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text black-text-hover"><i class="fa fa-instagram"></i></a></li>

                            <li class="display-inline-block padding-lf-10"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text black-text-hover"><i class="fa fa-dribbble"></i></a></li>

                            <li class="display-inline-block padding-lf-10"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text black-text-hover"><i class="fa fa-behance"></i></a></li>

                            <li class="display-inline-block padding-lf-10"><a href="http://drawbootstrap.com/demo-premium-theme/eventplus/" class="white-text black-text-hover"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div> <!-- footer-social -->
                </div> <!-- col-md-5 -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer-copyright -->
</footer> <!-- footer end -->
