<footer id="footer" class="mild-dark-blue-bg">
        <div class="container padding-top-50 padding-bottom-50">

           <div class="row">
                <div class="col-md-8">
                   <ul class="nav navbar-nav navbar-left">
                      <li class="active"><a ng-href="#/">Acasa</a></li>
                      <li><a ng-href="#/new-budget">Bugete locale</a></li>
                      <li><a ng-href="#/last-year-budget">Buget 2015</a></li>
                      <li><a ng-href="#/spending-updates">Updates</a></li>
                    </ul>
                </div> 
                <div class="col-md-4 text-right">
                    <p class="font-20 white-text padding-top-15"><i class="fa fa-envelope padding-right-10" aria-hidden="true"></i><a href="mailto:support@ebudgetbusters.com">support@ebudgetbusters.com</a></p>
                </div>
                <div class="col-md-12">
                    <p class="white-text font-15 padding-left-15">Copyright © 2016. Toate drepturile rezervate de <a href="" class="white-text text-hover">BUDGET BUSTERS</a>. Dezvoltat de <a href="" class="white-text text-hover">JSHacks</a></p>
                </div> 
           </div> 

        </div> <!-- container -->
</footer> <!-- footer end -->
