<!-- Header Start -->
  <nav class="navbar navbar-default navbar-fixed-top" style="min-height: 80px;" ng-class="{'mild-dark-blue-bg':!isHome}">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed mt-25 no-border" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar red-bg"></span>
          <span class="icon-bar red-bg"></span>
          <span class="icon-bar red-bg"></span>
        </button>
        <a class="navbar-brand" ng-href="#/"><img src="assets/images/logo.png" alt="Company Logo" title="Logo"></a>
      </div> <!-- navbar header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse no-border" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a ng-href="#/">Acasa</a></li>
          <li><a ng-href="#/new-budget">Bugete locale</a></li>
          <li><a ng-href="#/last-year-budget">Buget 2015</a></li>
          <li><a ng-href="#/spending-updates">Spending Updates</a></li>
          <li><a ng-href="#footer">Contact</a></li>
        </ul>
      </div>  <!-- /.navbar-collapse -->
    </div>  <!-- /.container -->
  </nav> <!-- Navigation Menu Ends -->
